@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
.App {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainHeader {
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  color: royalblue;
}

.asset-container header {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  font-style: italic;
}

.asset-description {
  width: 60%;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}
.asset-container img {
  height: 50vh;
  width: 500px;
}

.display {
  width: 50%;
  padding: 10px;
  display: inline-block;
  height: 70vh;
  overflow: scroll;
  border-radius: 5px;
  background-color: rgba(228, 228, 228, 0.76);
}

img {
  padding: 5px;
  height: 200px;
  width: 200px;
  border-radius: 10%;
}

.searchInput {
  height: 30px;
  width: 150px;
}
input {
  margin: 10px;
}

button {
  margin: 10px;
  padding: 10px;
}
